  <h5>The partial ran!</h5>
        <article class="post">
            <div class="title">
                <h1>{{title}}</h1>
                <span>({{content}})</span>
            </div>
            <div class="meta">
                {{user_id}} by {{user.username}}
                |
                <span>{{id}} is the post id #</span>
            </div>
        </article>