
<article id="art" class="post" data-post-id="{{post.id}}">
    <div class="title">
        <h3>{{post.title}}</h3>
        <p id="post-content">{{post.content}}</p>
        <p>Written by {{post.user.username}} on: {{format_date post.created_at}}</p>
    </div>
</article>

{{#each post.comments as |comment|}}

    {{> comments comment }}
  <br>
  {{/each}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea id="comment-body" rows="5" cols="50"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>


{{/if}}

<script src="/js/comment.js"></script>